@model List<ReportSystem.ViewModels.ReportViewModel>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        @* First line *@
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 shadow p-0 mb-4"><img class="ml-0 w-100 h-100 " src="Images/pic.png" /></div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 shadow p-0 mb-4">
            <div class="row h-100">
                <a asp-controller="Report" asp-action="CreateReport" class="col-6 text-decoration-none text-dark pr-0">
                    <div class="card shadow-animation-out text-center h-100 w-100">
                        <div class="card-body">
                            <p class="h5">Hall of Fame</p>
                            <img src="https://img.icons8.com/bubbles/80/000000/crown.png" />
                        </div>
                    </div>
                </a>
                <a asp-controller="Report" asp-action="CreateReport" class="col-6 text-decoration-none text-dark pl-0">
                    <div class="card shadow-animation-out text-center h-100 w-100">
                        <div class="card-body">
                            <p class="h5">Create Report</p>
                            <img src="https://img.icons8.com/bubbles/80/000000/multi-edit.png" />
                        </div>
                    </div>
                </a>
                <a asp-controller="Report" asp-action="Index" class="col-6 text-decoration-none text-dark pr-0">
                    <div class="card shadow-animation-out text-center h-100 w-100">
                        <div class="card-body">
                            <p class="h5">Reports</p>
                            <img src="https://img.icons8.com/bubbles/80/000000/image-file.png" />
                        </div>
                    </div>
                </a>
                <a asp-controller="Report" asp-action="CreateReport" class="col-6 text-decoration-none text-dark pl-0 ">
                    <div class="card shadow-animation-out text-center h-100 w-100">
                        <div class="card-body">
                            <p class="h5">Investigations</p>
                            <img src="https://img.icons8.com/bubbles/80/000000/detective.png" />
                        </div>
                    </div>
                </a>
            </div>
        </div>

        @* second line - Reports*@
        <div class="col-12 shadow">
            <div class="row" style="max-height: 460px; overflow-y: auto">
                @foreach (var r in Model)
                {
                    var picturePath = "Images/" + r.PicturePath;
                    if (User.Identity.IsAuthenticated)
                    {
                        //if current user is the same as report user
                        if (r.ReporterId == r.CurrentUserId)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                                <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                                    <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                                    <p class="h3 d-inline">@r.ReportTitle</p>
                                    <a asp-controller="Report" asp-action="EditReport" asp-route-reportId="@r.ReportId" class="d-inline float-right shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/60/000000/hand-with-pen.png" /></a>
                                    <a asp-controller="Report" asp-action="DeleteReport" asp-route-reportId="@r.ReportId" class="d-inline float-right shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/60/000000/delete-sign.png" /></a>
                                    <p class="h6">@r.HazardTitle</p>
                                    <p class="h6">@r.ReporterName</p>
                                    <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                                    <hr />
                                    <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                                    <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                                    <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                                <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                                    <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                                    <p class="h3">@r.ReportTitle</p>
                                    <p class="h6">@r.HazardTitle</p>
                                    <p class="h6">@r.ReporterName</p>
                                    <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                                    <hr />
                                    <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                                    <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                                    <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                                </a>
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                            <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                                <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                                <p class="h3">@r.ReportTitle</p>
                                <p class="h6">@r.HazardTitle</p>
                                <p class="h6">@r.ReporterName</p>
                                <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                                <hr />
                                <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                                <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                                <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                            </a>
                        </div>
                    }

                }
            </div>
        </div>
        @* second line - Investigations*@
        <div class="col-12 shadow">

        </div>
    </div>

