@model ReportSystem.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @* First line *@
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 shadow p-0 mb-4"><img class="ml-0 w-100 h-100 " src="Images/pic.png" /></div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 shadow p-0 mb-4">
        <div class="row h-100">
            <a data-toggle="modal" data-target="#hallOfFame" class="col-6 text-decoration-none text-dark pr-0">
                <div class="card shadow-animation-out text-center h-100 w-100">
                    <div class="card-body">
                        <p class="h5">Hall of Fame</p>
                        <img src="https://img.icons8.com/bubbles/80/000000/crown.png" />
                    </div>
                </div>
            </a>
            <a asp-controller="Report" asp-action="CreateReport" class="col-6 text-decoration-none text-dark pl-0">
                <div class="card shadow-animation-out text-center h-100 w-100">
                    <div class="card-body">
                        <p class="h5">Create Report</p>
                        <img src="https://img.icons8.com/bubbles/80/000000/multi-edit.png" />
                    </div>
                </div>
            </a>
            <a asp-controller="Report" asp-action="Index" class="col-6 text-decoration-none text-dark pr-0">
                <div class="card shadow-animation-out text-center h-100 w-100">
                    <div class="card-body">
                        <p class="h5">Reports</p>
                        <img src="https://img.icons8.com/bubbles/80/000000/image-file.png" />
                    </div>
                </div>
            </a>
            <a href="#investigationReportsID" class="col-6 text-decoration-none text-dark pl-0 ">
                <div class="card shadow-animation-out text-center h-100 w-100">
                    <div class="card-body">
                        <p class="h5">Investigations</p>
                        <img src="https://img.icons8.com/bubbles/80/000000/detective.png" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    @* second line - Reports*@
<div class="col-12 ">
    <p class="h3">Reports</p>
    <div class="row shadow-lg" style="max-height: 465px; overflow-y: auto">
        @if (Model.ReportViewModels.Count == 0)
        {
            <p class="text-center h5 mx-auto">There are no reports available.</p>
        }
        else
        {


            foreach (var r in Model.ReportViewModels)
            {
                var picturePath = "Images/" + r.PicturePath;
                if (User.Identity.IsAuthenticated)
                {
                    //if current user is the same as report user
                    if (r.ReporterId == r.CurrentUserId)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                            <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                                <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                                <p class="h3 d-inline">@r.ReportTitle</p>
                                <a asp-controller="Report" asp-action="EditReport" asp-route-reportId="@r.ReportId" class="d-inline float-right shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/60/000000/hand-with-pen.png" /></a>
                                <a asp-controller="Report" asp-action="DeleteReport" asp-route-reportId="@r.ReportId" class="d-inline float-right shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/60/000000/delete-sign.png" /></a>
                                <p class="h6">@r.HazardTitle</p>
                                <p class="h6">@r.ReporterName</p>
                                <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                                <hr />
                                <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                                <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                                <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                            <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                                <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                                <p class="h3">@r.ReportTitle</p>
                                <p class="h6">@r.HazardTitle</p>
                                <p class="h6">@r.ReporterName</p>
                                <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                                <hr />
                                <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                                <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                                <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                            </a>
                        </div>
                    }

                }
                else
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                        <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                            <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                            <p class="h3">@r.ReportTitle</p>
                            <p class="h6">@r.HazardTitle</p>
                            <p class="h6">@r.ReporterName</p>
                            <p class=""><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />@r.ReportStausText</p>
                            <hr />
                            <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                            <p class="d-inline pl-5"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                            <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/good-quality.png" />@r.ReportLikes</p>
                        </a>
                    </div>
                }

            }
        }
    </div>
</div>
    @* second line - Investigations*@
<div class="col-12 mt-5">
    <p class="h3">Investigations</p>
    <div id="investigationReportsID" class="row shadow-lg" style="max-height: 350px; overflow-y: auto">
        @if (Model.HomeInvestigationViewModels.Count == 0)
        {
            <p class="text-center h5 mx-auto">There are no Investigations available.</p>
        }
        else
        {
            foreach (var i in Model.HomeInvestigationViewModels)
            {
                if (User.Identity.IsAuthenticated)
                {
                    if (i.InvestigatorId == i.CurrentUserId)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                            @* mock *@
                            <div class="card">
                                <div class="card-header text-center">
                                    <p>
                                        <a asp-controller="Report" asp-action="DeleteReport" asp-route-reportId="@i.ReportId" class="d-inline float-left shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/40/000000/delete-sign.png" /></a>
                                        @i.ReportTitle - Investigation
                                        <a asp-controller="Report" asp-action="EditReport" asp-route-reportId="@i.ReportId" class="d-inline float-right shadow-animation-out rounded-circle border"> <img src="https://img.icons8.com/bubbles/40/000000/hand-with-pen.png" /></a>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Report Title:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.ReportTitle">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Description:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.InvestigationDescription">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Reporter:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.ReporterName">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-0 m-0">
                                        <label class="col-sm-5 col-form-label">Investigator:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.InvestigatorName">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted text-center">
                                    Status - @i.StatusText
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                            @* mock *@
                            <div class="card">
                                <div class="card-header text-center">
                                    <p>@i.ReportTitle - Investigation</p>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Report Title:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.ReportTitle">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Description:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.InvestigationDescription">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-1 m-0">
                                        <label class="col-sm-5 col-form-label">Reporter:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.ReporterName">
                                        </div>
                                    </div>
                                    <div class="form-group row pl-1 pr-0 m-0">
                                        <label class="col-sm-5 col-form-label">Investigator:</label>
                                        <div class="col-sm-7">
                                            <input type="text" readonly class="form-control-plaintext" value="@i.InvestigatorName">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted text-center">
                                    Status - @i.StatusText
                                </div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-animation-out bg-white m-0 p-1 mb-5 border">
                        @* mock *@
                        <div class="card">
                            <div class="card-header text-center">
                                <p>@i.ReportTitle - Investigation</p>
                            </div>
                            <div class="card-body">
                                <div class="form-group row pl-1 pr-1 m-0">
                                    <label class="col-sm-5 col-form-label">Report Title:</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" value="@i.ReportTitle">
                                    </div>
                                </div>
                                <div class="form-group row pl-1 pr-1 m-0">
                                    <label class="col-sm-5 col-form-label">Description:</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" value="@i.InvestigationDescription">
                                    </div>
                                </div>
                                <div class="form-group row pl-1 pr-1 m-0">
                                    <label class="col-sm-5 col-form-label">Reporter:</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" value="@i.ReporterName">
                                    </div>
                                </div>
                                <div class="form-group row pl-1 pr-0 m-0">
                                    <label class="col-sm-5 col-form-label">Investigator:</label>
                                    <div class="col-sm-7">
                                        <input type="text" readonly class="form-control-plaintext" value="@i.InvestigatorName">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted text-center">
                                Status - @i.StatusText
                            </div>
                        </div>
                    </div>
                }

            }
        }
    </div>
    </div>
</div>

@* Hall of Fame modal *@

<div class="modal fade" id="hallOfFame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
                <p class="modal-title align-middle h1" id="exampleModalLabel"><img src="https://img.icons8.com/bubbles/100/000000/prize.png" />Hall of Fame</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* modal content *@
                <div class="row">
                    @* Best Reporter *@
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <p class="h5 text-center border border-bottom-0 pt-2">Best Reporter</p>
                        <table class="table table-hover table-sm">
                            <thead class=" thead-dark">
                                <tr>
                                    <th scope="col">Reports Count</th>
                                    <th scope="col">Reporter</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in Model.BestReporterViewModels.Take(5))
                                {
                                    <tr>
                                        <th scope="row">@r.ReportsNumber</th>
                                        <td>@r.ReporterName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @* Best Investigator *@
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                    <p class="h5 text-center border border-bottom-0 pt-2">Best Investigator</p>
                    <table class="table table-hover table-sm">
                        <thead class=" thead-dark">
                            <tr>
                                <th scope="col">Reports Count</th>
                                <th scope="col">Reporter</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var r in Model.BestInvestigators.Take(5))
                        {
                            <tr>
                                <th scope="row">@r.InvestigationNumber</th>
                                <td>@r.InvestigatorName</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                    @* Most liked Report *@
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                    <p class="h5 text-center  border border-bottom-0 pt-2">Report With most Likes</p>
                    <table class="table table-hover table-sm">
                        <thead class=" thead-dark">
                            <tr>
                                <th scope="col">Reports Likes</th>
                                <th scope="col">Report Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var r in Model.LikesList.Take(5))
                        {
                            <tr>
                                <th scope="row">@r.ReportLikes</th>
                                <td>@r.ReportTitle</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                    @* Most commented Report *@
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <p class="h5 text-center border border-bottom-0 pt-2">Report With most Comments</p>
                    <table class="table table-hover table-sm">
                        <thead class=" thead-dark">
                            <tr>
                                <th scope="col">Reports Comments</th>
                                <th scope="col">Report Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var r in Model.CommentsList.Take(5))
                        {
                            <tr>
                                <th scope="row">@r.ReportComments</th>
                                <td>@r.ReportTitle</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
