
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pt-5">
    <div class="col-1"></div>
    <div class="col-10 shadow bg-white rounded">
        <div class="row">
            @* Users *@
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                <a asp-controller="Admin" asp-action="Users" class="mx-auto text-dark" style="text-decoration: none">
                    <div class="card mx-auto border-0 ">
                        <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/people-group-bill--v1.png" alt="Card image cap">
                        <div class="card-body w-100">
                            <p class="card-text text-center h4">Users</p>
                        </div>
                    </div>
                </a>
            </div>
            @* Investigations *@
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                @*<a asp-controller="" asp-action="" asp-route-subscriptionId="@Model.subscriptionId">*@
                <div class="card mx-auto border-0 " @*style="width: 10rem;"*@>
                    <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/file.png" alt="Card image cap">
                    <div class="card-body w-100 ">
                        <p class="card-text text-center h4">Investigations</p>
                    </div>
                </div>
                @*</a>*@
            </div>
            @* Reports *@
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                @*<a asp-controller="" asp-action="" asp-route-subscriptionId="@Model.subscriptionId">*@

                <div class="card mx-auto border-0 " @*style="width: 10rem;"*@>
                    <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/opened-folder.png" alt="Card image cap">
                    <div class="card-body w-100 ">
                        <p class="card-text text-center h4">Reports</p>
                    </div>
                </div>
                @*</a>*@
            </div>
            @* Reporters *@
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                @*<a asp-controller="" asp-action="" asp-route-subscriptionId="@Model.subscriptionId">*@
                <div class="card mx-auto border-0 " @*style="width: 10rem;"*@>
                    <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/user-male.png" alt="Card image cap">
                    <div class="card-body w-100 ">
                        <p class="card-text text-center h4">Reporters</p>
                    </div>
                </div>
                @*</a>*@
            </div>
            @* Investigators *@
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                @*<a asp-controller="" asp-action="" asp-route-subscriptionId="@Model.subscriptionId">*@
                <div class="card mx-auto border-0 " @*style="width: 10rem;"*@>
                    <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/user-female.png" alt="Card image cap">
                    <div class="card-body w-100 ">
                        <p class="card-text text-center h4">Investigators</p>
                    </div>
                </div>
                @*</a>*@
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-3 pt-3 shadow-animation">
                @*<a asp-controller="" asp-action="" asp-route-subscriptionId="@Model.subscriptionId">*@
                <div class="card mx-auto border-0 " @*style="width: 10rem;"*@>
                    <img class="card-img-top hhh mx-auto align-self-center" src="https://img.icons8.com/bubbles/200/000000/walter-white.png" alt="Card image cap">
                    <div class="card-body w-100 ">
                        <p class="card-text text-center h4">Admins</p>
                    </div>
                </div>
                @*</a>*@
            </div>


        </div>
    </div>
    <div class="col-1"></div>
</div>

