@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex pt-5 h-100 pb-5">
    <div class="col-1"></div>
    <div class="col-10 shadow bg-white rounded">
        <div class="table-responsive table-responsive-sm table-responsive-lg table-responsive-xl table-responsive-md">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr colspan="6" class="bg-secondary">
                        <img class="d-inline" src="https://img.icons8.com/bubbles/80/000000/people-group-bill--v1.png" />
                        <p class="h2 d-inline align-middle">USERS</p>
                        <a class="shadow-animation float-right" asp-action="Index" asp-controller="Admin">
                            <img src="https://img.icons8.com/bubbles/80/000000/long-arrow-left.png" />
                        </a>
                    </tr>
                    <tr>
                        <th class="text-center" scope="col">Role</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Email</th>
                        <th class="text-center" scope="col">Address</th>
                        <th class="text-center" scope="col">Edit</th>
                        <th class="text-center" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody style="max-height: 30px">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <th class="text-center"><img src="https://img.icons8.com/bubbles/50/000000/add-file.png" /></th>
                            <td class="text-center">@user.UserName</td>
                            <td class="text-center">@user.Email</td>
                            <td class="text-center">@user.UserAddress</td>
                            <td data-toggle="modal" data-target="#editUserModal" class="shadow-animation text-center" onclick="userAjaxRequest('@user.Id')"><img src="https://img.icons8.com/bubbles/50/000000/edit-property.png" /></td>
                            <td data-toggle="modal" data-target="#deleteuser_@user.NormalizedUserName"  class="shadow-animation text-center"><img src="https://img.icons8.com/bubbles/50/000000/delete-sign.png"/></td>
                        </tr>
                        <!-- Modal for Delete -->
                        <div class="modal fade" id="deleteuser_@user.NormalizedUserName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to <b>Delete:</b> @user.UserName ?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn shadow-animation" data-dismiss="modal">Close</a>
                                        <a class="btn shadow-animation" asp-action="DeleteUserAsync" asp-controller="Admin" asp-route-userId="@user.Id">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<!-- User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="editUserResponse" class="modal-body">

                ...
            </div>
        </div>
    </div>
</div>


    <script>
        function userAjaxRequest(userId) {
            $.ajax({
                url: window.location.origin + "/Admin/EditUser?userId=" + userId,
                type: "GET",

                complete: function (result) {
                    console.log(result.responseText);

                    //var x = document.getElementById("modelompany");
                    //x.style.display = "block";
                    $("#editUserResponse").html(result.responseText);

                }
            });
        }

    </script>