@model List<ReportSystem.ViewModels.ReportViewModel>  

@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    @if (Model.Count==0)
    {
        <h1>You did not create any report yet</h1>
        <h1>you can create one  <a asp-controller="Report" asp-action="CreateReport">here</a>!</h1>

    }
    @foreach (var r in Model)
    {
        var picturePath = "Images/" + r.PicturePath;
        <div class="col-sm-12 shadow-animation bg-white mb-5 col-md-6 col-lg-4 col-xl-4   p-1">
            @*<div class=" p-2 shadow-animation bg-white">*@
                <a class="font-weight-normal text-decoration-none text-dark" asp-controller="Report" asp-action="ShowReport" asp-route-reportId="@r.ReportId">
                    <img class="card-img-top w-100" src="~/@picturePath" alt="Card image cap" style="height: 230px">
                    <p class="h3">@r.ReportTitle</p>
                    <p class="h6">@r.HazardTitle</p>
                    <p class="h6">@r.ReporterName</p>
                    <hr />
                    <p class="d-inline float-left"><img src="https://img.icons8.com/bubbles/40/000000/today.png" />@r.ReportRegisterTime.ToShortDateString()</p>
                    <p class="d-inline pl-4"><img src="https://img.icons8.com/bubbles/40/000000/speech-bubble-with-dots.png" /> @r.ReportCommentCount</p>
                    <p class="d-inline pr-3 float-right"><img src="https://img.icons8.com/bubbles/40/000000/checked.png" />status</p>
                </a>
                <div class="row w-100">
                    <div class="col-6">
                        <a asp-controller="Report" asp-action="DeleteReport" asp-route-reportId="@r.ReportId" class="btn btn-sm btn-danger btn-block">Delete</a>
                    </div>
                    <div class="col-6 pr-0">
                        <a class="btn btn-sm  btn-warning btn-block">Edit</a>
                    </div>
                </div>

            @*</div>*@
             
            
</div>

    }
</div>